{{#if isAuth}}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if admin}}
        {{#if isAuth}}
        {{#if isPkis}}
        <li class="nav-item">
          <a class="nav-link active" href="/pkis">
            ПКИ
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/pkis">
            ПКИ
          </a>
        </li>
        {{/if}}
        {{#if isApkzi}}
        <li class="nav-item">
          <a class="nav-link active" href="/apkzi">
            АПКЗИ
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/apkzi">
            АПКЗИ
          </a>
        </li>
        {{/if}}
        {{#if isPC}}
        <li class="nav-item">
          <a class="nav-link active" href="/pcPa">
            ПЭВМ
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/pcPa">
              ПЭВМ
          </a>
        </li>
        {{/if}}
            {{#if isSystemCase}}
                <li class="nav-item">
                    <a class="nav-link active" href="/systemCases">
                        Системные блоки
                    </a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/systemCases">
                        Системные блоки
                    </a>
                </li>
            {{/if}}
        {{#if isAssembly}}
        <li class="nav-item">
          <a class="nav-link active" href="/assembly">
            Сборка СБ
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/assembly">
            Сборка СБ
          </a>
        </li>
        {{/if}}
        <li class="nav-item dropdown">
          {{#if isEquipment}}
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            БД
          </a>
          {{else}}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            БД
          </a>
          {{/if}}
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/equipment">БД Штрихкоды</a></li>
            <li><a class="dropdown-item" href="/countries">БД Страны</a></li>
            <li><a class="dropdown-item" href="/monitoring">Мониторинг</a></li>
            <li><a class="dropdown-item" href="/spec">Комплектация</a></li>
          </ul>
        </li>
        <li class="nav-item">
          {{#if isSearch}}
        <li class="nav-item">
          <a class="nav-link active" href="/search">
            Поиск
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/search">
            Поиск
          </a>
        </li>
        {{/if}}
        </li>
        {{/if}}
        {{/if}}
        {{#if sp}}
        {{#if isSP}}
        <li class="nav-item">
          <a class="nav-link active" href="/sp">
            Спецпроверка
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/sp">
            Спецпроверка
          </a>
        </li>
        {{/if}}
        {{#if isEquipment}}
        <li class="nav-item">
          <a class="nav-link active" href="/equipment">
            Оборудование
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/equipment">
            Оборудование
          </a>
        </li>
        {{/if}}
        {{/if}}
        {{#if isAuth}}
        {{#if isProjects}}
        <li class="nav-item">
          <a class="nav-link active" href="/projects">
            Проекты
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/projects">
            Проекты
          </a>
        </li>
        {{/if}}
        {{/if}}
      </ul>
      {{#if isAuth}}
      {{#if isPC}}
        <select class="selectpicker form-select me-2 col col-sm" id="serials" data-live-search="true"></select>
      {{/if}}
      {{#if isProjects}}
          <select class="selectpicker form-select me-2 col col-sm" id="serials" data-live-search="true"></select>
          <select class="selectpicker form-select me-2 col col-sm" id="company" data-live-search="true"></select>
      {{/if}}
      {{#if isAssembly}}
        <select class="selectpicker form-select me-2 col col-sm" id="serials" data-live-search="true"></select>
      {{/if}}
      {{#if isSystemCase}}
          <select class="selectpicker form-select me-2 col col-sm" id="system-case-serials" data-live-search="true"></select>
      {{/if}}
        <select id="part_select_navbar" class=" selectpicker form-select col col-sm"></select>
      {{/if}}
    </div>
  </div>
</nav>
{{/if}}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    load_part_navbar()
  })
  const partSelect = document.getElementById('part_select_navbar')
  if (partSelect) {
    partSelect.addEventListener('change', (event) => {
      changeSelect(partSelect.options[partSelect.selectedIndex].innerHTML)
      setPage(1)
    })
  }
</script>
