{{#if isAuth}}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a id="brand" class="navbar-brand" href="/">{{ part }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      {{!-- {{#if isHome}}
      <li class="nav-item active"><a class="nav-link" href="/">Главная</a></li>
      {{else}}
      <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
      {{/if}} --}}
      {{/if}}

      {{#if admin}}
        {{#if isAuth}}
          {{#if isPkis}}
            <li class="nav-item active"><a class="nav-link" href="/pkis">ПКИ</a></li>
          {{else}}
            <li class="nav-item"><a class="nav-link" href="/pkis">ПКИ</a></li>
          {{/if}}

          {{#if isApkzi}}
            <li class="nav-item active"><a class="nav-link" href="/apkzi">АПКЗИ</a></li>
          {{else}}
            <li class="nav-item"><a class="nav-link" href="/apkzi">АПКЗИ</a></li>
          {{/if}}

          {{#if isPC}}
            <li class="nav-item active"><a class="nav-link" href="/pc">Производство</a></li>
          {{else}}
            <li class="nav-item"><a class="nav-link" href="/pc">Производство</a></li>
          {{/if}}
        {{/if}}
      {{/if}}


      {{#if sp}}
        {{#if isSP}}
          <li class="nav-item active"><a class="nav-link" href="/sp">Спецпроверка</a></li>
        {{else}}
          <li class="nav-item"><a class="nav-link" href="/sp">Спецпроверка</a></li>
        {{/if}}

        
      {{/if}}

      

      {{#if isAuth}}

      {{#if isEquipment}}
          <li class="nav-item active"><a class="nav-link" href="/equipment">Оборудование</a></li>
        {{else}}
          <li class="nav-item"><a class="nav-link" href="/equipment">Оборудование</a></li>
        {{/if}}
        
        {{#if isProjects}}
         <li class="nav-item active"><a class="nav-link" href="/projects">Проекты</a></li>
        {{else}}
          <li class="nav-item"><a class="nav-link" href="/projects">Проекты</a></li>
        {{/if}}
         <li class="nav-item"><a class="nav-link" href="/auth/logout">Выйти</a></li>
      {{else}}

      {{/if}}

      {{#if isAuth}}
    </ul>

    <ul class="navbar-nav ml-auto">
      {{#if isPC}}
      <select class="selectpicker mr-2" id="serials" data-live-search="true"></select>
      {{/if}}
      {{#if isProjects}}
      <select class="selectpicker mr-2" id="serials" data-live-search="true"></select>
      {{/if}}
      <select id="part_select_navbar" class="custom-select">
        {{!-- <option value="part">Выберите проект</option> --}}
      </select>
    </ul>
    {{/if}}
    <script>
      $(document).ready(function () {
        load_part_navbar()
        // load_part_session()
      })

      $(document).on('change', '#part_select_navbar', function () {
        changeSelect($("#part_select_navbar :selected").text())
      })
    </script>
  </div>

</nav>