<div class="wrapper fadeInDown">
  <div id="formContent">
    <form action="/countries/edit" method="POST" class="needs-validation" novalidate>
      <div class="input-field">
        <input id="country" name="country" type="text" class="form-control" aria-describedby="pkilHelp"
          placeholder="Страна производитель" value="{{country.country}}" required>
        <div class="invalid-feedback">
          Введите страну!
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Код страны</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
          value="{{country.code}}" readonly>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Alfa2</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
          value="{{country.alfa2}}" readonly>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Alfa3</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
          value="{{country.alfa3}}" readonly>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Наименование</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
          value="{{country.fullName}}" readonly>
      </div>
      <img src="https://www.countryflags.io/{{country.alfa2}}/shiny/64.png">
      <div class="input-field">
        <input type="hidden" name="id" value="{{country._id}}">
      </div>
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <button type="submit" class="btn btn-outline-success">Сохранить</button>
    </form>
  </div>
</div>