<script src="/equipment.js"></script>
<div class="container">
  <div class="wrapper fadeInDown">
    <div id="formContentSP">
      <div class="error_message">
        {{#if insertError}}
        <p class="alert alert-danger mt-1">{{insertError}}</p>
        <audio src="/sounds/alert.mp3" autoplay="autoplay"></audio>
        {{/if}}
      </div>
      <form id="edit" action="/equipment" class="needs-validation" novalidate>
        <div class="input-field">
          <input value="{{ean.ean_code}}" id="ean_code" name="ean_code" type="text" class="form-control"
            aria-describedby="eanlHelp" placeholder="Штрих-код" disabled required>
          <div class="invalid-feedback">
            Введите Штрих-код!
          </div>
        </div>
        <div class="input-field">
          <input value="{{ean.type_pki}}" id="type_pki" name="type_pki" type="text" class="form-control"
            aria-describedby="pkilHelp" placeholder="Тип ПКИ" required>
          <div class="invalid-feedback">
            Введите тип ПКИ!
          </div>
        </div>
        <div class="input-field">
          <input value="{{ean.vendor}}" id="vendor" name="vendor" type="text" class="form-control"
            aria-describedby="vendorHelp" placeholder="Производитель" required>
          <div class="invalid-feedback">
            Введите Производителя!
          </div>
        </div>
        <div class="input-field">
          <input value="{{ean.model}}" id="model" name="model" type="text" class="form-control"
            aria-describedby="modelHelp" placeholder="Модель" required>
          <div class="invalid-feedback">
            Введите Модель!
          </div>
        </div>
        <div class="input-field">
          <input value="{{ean.country}}" id="country" name="country" type="text" class="form-control"
            placeholder="Страна производства" required>
          <div class="invalid-feedback">
            Введите страну!
          </div>
        </div>
        <div class="input-field">
          <input value="{{ean.countSymbols}}" id="countSymbols" name="countSymbols" type="text" class="form-control"
            placeholder="Количество символов в серийном номере">
        </div>
        <div id="pki_sp_table1"></div>
        <div id="pki_sp_table2"></div>
        <div class="mb-3" style="text-align: left;">
          <input type="button" onclick="addRow()" id="add-row" class="add-row btn btn-outline-primary"
            value="Добавить строку">
          <input type="button" onclick="delRow()" id="delete-row" class="delete-row btn btn-outline-danger"
            value="Удалить строку">
          <input type="button" id="copy_table" class="delete-row btn btn-outline-success" value="Копировать таблицу">
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="button" onclick="submitEq()" class="btn btn-outline-success">Сохранить</button>
        <input type="button" value="Назад" class="btn btn-outline-primary" onclick="window.location='/equipment';">
      </form>
    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    let decodedEan = decodeURIComponent("{{{encodedEan}}}")
    let jsonObj = JSON.parse(decodedEan)
    let ean_id = jsonObj._id
    load_table_sp(ean_id)
    document.getElementById("ean_code").focus()
    let copyTableButton = document.getElementById('copy_table')
    copyTableButton.addEventListener('click', () => {
      let table2 = document.getElementById('pki_sp_table2')
      table2.innerHTML = ''
      table2.innerHTML = document.getElementById('pki_sp_table1').innerHTML
      table2.id = 'pki_sp_table2'
      document.querySelector('#pki_sp_table2 #sp_unit').id = 'sp_unit1'
    })
  })
  document.onkeydown = function (e) {
    e = e || window.event;
    if (e.ctrlKey && (e.which == 83)) {
      e.preventDefault()
      submitEq()
    }
  }
</script>