<script src="/pcPa.js"></script>
<script type="text/javascript" src="/lib/huebee/huebee.pkgd.js"></script>
<link rel="stylesheet" href="/lib/huebee/huebee.css" type="text/css" />
<div class="container">
  <div class="tableContent mt-3">
    <form action="/pcPa">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Проект</span>
        </div>
        <input type="text" id="part" name="part" class="form-control" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm" value="{{pc.part}}" required>

        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">ФДШИ</span>
        </div>
        <input type="text" id="fdsi" name="fdsi" class="form-control" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm" value="{{pc.fdsi}}" required>

        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Заводской номер</span>
        </div>
        <input type="text" id="serial_number" name="serial_number" class="form-control" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm" value="{{pc.serial_number}}" required>
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">АРМ</span>
        </div>
        <input type="text" id="arm" name="arm" class="form-control" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm" value="{{pc.arm}}" required>

        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Исполнение</span>
        </div>
        <input type="text" id="execution" name="execution" class="form-control" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm" value="{{pc.execution}}">

        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Приложение</span>
        </div>
        <input type="text" id="attachment" name="attachment" class="form-control" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm" value="{{pc.attachment}}">
      </div>
      <div id="PC"></div>

    </form>

  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    load_pc(`{{pc._id}}`)
  })
  document.addEventListener('click', function (e) {
    setColor()
  })

  const snInput = document.getElementById('serial_number')
  snInput.addEventListener('keyup', (e) => {
    const sn = e.target.value
    const numbers = document.getElementsByClassName('serial_number')
    for (const number of numbers) {
      if (number.dataset.number_machine) {
        number.innerHTML = sn
      }
    }
  })

  document.onkeydown = function (e) {
    e = e || window.event;
    if (e.ctrlKey && (e.which == 83)) {
      e.preventDefault()
      document.getElementById('edit').click()
    }
  }
</script>