<script src="/pc.js"></script>

<h1>Редактирование {{pc.serial_number}}</h1>
<form action="/pc">
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Проект</span>
        </div>
        <input type="text" id="part" name="part" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" value="{{pc.part}}" required>

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">ФДШИ</span>
        </div>
        <input type="text" id="fdsi" name="fdsi" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" value="{{pc.fdsi}}" required>

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Заводской номер</span>
        </div>
        <input type="text" id="serial_number" name="serial_number" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" value="{{pc.serial_number}}" required>

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">АРМ</span>
        </div>
        <input type="text" id="arm" name="arm" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" value="{{pc.arm}}" required>

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Исполнение</span>
        </div>
        <input type="text" id="execution" name="execution" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" value="{{pc.execution}}" required>
    </div>

    <div id="PC"></div>
   
</form>


<script>
    $(document).ready(function () {
        load_pc(`{{pc._id}}`)
    })
</script>