<script src="/pcPa.js"></script>
<h1>Производство</h1>
<button class="btn btn-dark mb-2" onclick="location.href='/pc/add';">Добавить ПЭВМ</button>
<button id="excelImport" onclick="location.href='/projects/import';" class="btn btn-outline-success mb-2">Экспорт в Excel</button>
<button id="testPC" onclick="testPC()" class="btn btn-outline-success mb-2" data-toggle="modal" data-target="#modalTest">Проверка</button>



<button id="soundOn" onclick="setSoundSessionOff()" class="btn btn-dark soundButton"><i class="fa fa-microphone"></i></button>
<button id="soundOff" onclick="setSoundSessionOn()" hidden="true" class="btn btn-dark soundButtonSlash"><i class="fa fa-microphone-slash"></i></button>

<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckboxOne">
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckboxOne" class="popup-closer">&times;</label>
      <p id="oldNumber" class="alert alert-danger mt-1"></p>
      <input id="hiddInp" type="hidden" value="">
    </div>
  </div>
</div>

<form>
  <input type="hidden" name="_csrf" value="{{csrf}}">
</form>

<div id="paginationTop"></div>
<div id="PC"></div>
<div id="paginationBottom"></div>
<input type="hidden" id="hidd_id" value="0">
<input type="hidden" id="hidd_obj" value="0">
<input type="hidden" id="hidd_unit" value="0">
<input type="hidden" id="pagesCount" value="{{ pages }}">

<!-- Modal -->

<div class="modal fade" id="modalCopy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Серийный номер</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/pc/copy" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="modal-body">
          {{!-- <input class="danger" id="danger" type="hidden" value="Такой серийный номер существует"> --}}
          <input id="inputCopy" name="serial_number" type="text" value="" class="form-control">
          <div class="mb-2" id="hidd"></div>
        </div>
        <input type="hidden" name="id" id="hidInputCopy">
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть</button>
          <button type="submit" id="btnSubmit" class="btn btn-primary" disabled>Сохранить</button>

        </div>
      </form>
    </div>
  </div>
</div>

{{!-- модальное окно удаления--}}
<div class="modal fade" id="modalDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Удалить ПЭВМ?</h5>        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <p id="serial"></p>
        
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="id" id="hidId">
        
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" id="btnSub" onclick="delBtn()" data-dismiss="modal" class="btn btn-danger">Удалить</button>        
        </div>
      </form>
    </div>
  </div>
</div>


{{!-- модальное окно теста--}}
<div class="modal fade" id="modalTest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Пороверка ПЭВМ</h5>        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <p id="serial"></p>
        <div id="testData">
          
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        
        
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть</button>          
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
  if (!sessionStorage.getItem("sound")) {
    document.getElementById("soundOff").hidden = true
    document.getElementById("soundOn").hidden = false
    setSoundSessionOn()
  } else if (sessionStorage.getItem("sound") == 'on') {
    document.getElementById("soundOff").hidden = true
    document.getElementById("soundOn").hidden = false
  } else {
    document.getElementById("soundOff").hidden = false
    document.getElementById("soundOn").hidden = true
  }

  console.log(document.location.href.split('serial_number=')[1])
  $('html, body').animate({
          scrollTop: $(serial_number_id).offset().top-70
        }, 500)

  //пагинация
  
  const pages = parseInt(document.getElementById('pagesCount').value)
  if (pages > 1) {
    var sessionPage = sessionStorage.getItem('page')
    if (!sessionPage) {
      document.getElementById('paginationTop').innerHTML = createPagination(1)
      document.getElementById('paginationBottom').innerHTML = createPagination(1)
    } else {
      document.getElementById('paginationTop').innerHTML = createPagination(sessionPage)
      document.getElementById('paginationBottom').innerHTML = createPagination(sessionPage)
    }
    
  }   
  // конец пагинации


  const serial_number = `{{serial_number}}`
 
  if (!sessionPage) {
    loadPage(1)
  } else {
    loadPage(sessionPage)
  }
  
})

  $(document).on('change', '#serials', function () {
    let serial_number_id = '#' + $("#serials :selected").val()    
    $('html, body').animate({
          scrollTop: $(serial_number_id).offset().top-70
        }, 500)
  })

  $("body").on('click','.delBtn',function () {
      $('#hidId').val($(this).data("id"))
      $('#serial').text('Серийный номер - ' + $(this).data("serial_number"))          
    })
  
  $("body").on('click', '.copyBtn', function () {
    $('#hidInputCopy').val($(this).data("id"))
    $('#inputCopy').val($(this).data("serial_number"))
  })

  $(document).on('blur', '.serial_number', function () {
    let id = $(this).data("id")
    let obj = $(this).data("obj")
    let unit = $(this).data("unit")
    let serial_number = $(this).text()
    let data_hidd = $(this).data("data")
    $("#hidd_id").val(data_hidd)
  })

  $(document).on('keypress', '.serial_number', function (e) {
    let id = $(this).data("obj")
    if (e.which == 13) {
      e.preventDefault()    
      let id = $(this).data("id")
      let obj = $(this).data("obj")
      let unit = $(this).data("unit")
      let serial_number = $(this).text()
      let data_hidd = $(this).data("data")
      let data_apkzi = $(this).data("apkzi")

      $("#hidd_id").val(data_hidd)
     // check_serial_number(serial_number)
      if (data_apkzi) {
        edit_serial_number_apkzi(id, obj, unit, serial_number)
      } else {
        edit_serial_number(id, obj, unit, serial_number)
      }      
    }
  })



  $('#inputCopy').keyup(function () {
    let serial = $(this).val()
    find_serial(serial)
  })
</script>