<h1>Редактировать {{pki.vendor}}</h1>

<form action="/pkis/edit" method="POST" class="needs-validation pki-form" novalidate>
  
  <div class="input-field">
    <input id="type_pki" name="type_pki" type="text" class="form-control" aria-describedby="pkilHelp" value="{{pki.type_pki}}" required>
    <div class="invalid-feedback">
      Введите тип ПКИ!
    </div>
  </div>

  <div class="input-field">
    <input id="vendor" name="vendor" type="text" class="form-control" aria-describedby="vendorHelp" value="{{pki.vendor}}" required>
    <div class="invalid-feedback">
      Введите Производителя!
    </div>
  </div>

  <div class="input-field">
    <input id="model" name="model" type="text" class="form-control"  value="{{pki.model}}" required>
    <div class="invalid-feedback">
      Введите Модель!
    </div>
  </div>

  <div class="input-field">
    <input id="serial_number" name="serial_number" type="text" class="form-control" value="{{pki.serial_number}}" required>
    <div class="invalid-feedback">
      Введите серийный номер!
    </div>
  </div>

  <div class="input-field">
    <input id="country" name="country" type="text" class="form-control" value="{{pki.country}}" required>
    <div class="invalid-feedback">
      Введите страну!
    </div>
  </div>

  <div class="input-field">
    <input id="part" name="part" type="text" class="form-control" value="{{pki.part}}" required>
    <div class="invalid-feedback">
      Введите название партии!
    </div>
  </div>

  <div class="custom-control custom-checkbox">
    <input id="in_case" name="in_case" class="form-check-input" type="checkbox" value="true" >
    <label class="form-check-label" for="in_case">
      В составе системного блока
    </label>
  </div>



  <div class="input-field">
    <input hidden="true" id="_id" name="_id" type="text" class="form-control" value="{{pki.id}}" required>

  </div>


  {{!-- <div class="input-field">
  <input id="id" name="id" class="form-control" value="{{pki.id}}">
  </div> --}}
  <button type="submit" class="btn btn-primary">Редактировать ПКИ</button>
</form>

<form action="/pkis/del" method="POST">
  <input type="hidden" name="_id" id="_id" value="{{pki.id}}">
  <button type="submit" type="button" class="btn btn-danger"> Удалить </button>
</form>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
