<script src="/pki.js"></script>
<h1>ПКИ</h1>
<button class="btn btn-dark" style="margin-bottom: 1rem" onclick="location.href='/add';">Добавить ПКИ</button>

{{!-- <form name="search_form" action="/pkis" method="post"> --}}
  <div class="form-row align-items-center">
    <div class="col-auto">      
      <div class="input-group mb-2">
        <input type="text" name="search" class="form-control hoverable" id="search" placeholder="Поиск...">
      </div>
    </div>
  </div>
{{!-- </form> --}}

{{!-- {{#if pkis.length}}

<table class="table table-sm table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
        <th>Тип</th>
        <th>Производитель</th>
        <th>Модель</th>
        <th>Серийный номер</th>
        <th>Страна производства</th>
        <th>Партия</th>
        <th>Номер машины</th>
        <th>В СБ</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
{{#each pkis}}
  <tr>
    <td>{{type_pki}}</td>
    <td>{{vendor}}</td>
    <td>{{model}}</td>
    <td>{{serial_number}}</td>
    <td>{{country}}</td>
    <td>{{part}}</td>
    <td>{{number_machine}}</td>
    <td>{{in_case}}</td>
    <td class="td_btn">
        <button class="btn_f" onclick="location.href='/pkis/{{id}}/edit?allow=true';"><i class="fa fa-pencil"></i></button>
        <button class="btn_d" onclick="location.href='/pkis/{{id}}/del?allow=true';"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
{{/each}}
</tbody>
</table>

{{else}}
<p>Нет ни одного ПКИ</p>
{{/if}} --}}
<div id="showData"></div>

<input hidden="true" id="temp" value="0"></input>

<script>
    $(document).ready(function() {
    load_data();
  
    var timeoutID = null;
  
    $('#search').keyup(function() {
      
      $('#temp').val('0');
      clearTimeout(timeoutID);
      var search = $(this).val();
      
      if (search) {
        load_data(search);
      } else {
        load_data();
      }
    });

  $(document).on('blur', '.type', function() {
    let id = $(this).data("id");
    let type = $(this).text();
    edit_type(id, type);
  });
  
  $(document).on('blur', '.model', function() {
    let id = $(this).data("id");
    let model = $(this).text();
    edit_model(id, model);
  });

  $(document).on('blur', '.serial_number', function() {
    let id = $(this).data("id");
    let serial_number = $(this).text();
    edit_serial_number(id, serial_number);
  });

  $(document).on('blur', '.vendor', function() {
    let id = $(this).data("id");
    let vendor = $(this).text();
    edit_vendor(id, vendor);
  });

  $(document).on('blur', '.country', function() {
    let id = $(this).data("id");
    let country = $(this).text();
    edit_country(id, country);
  });

  $(document).on('blur', '.part', function() {
    let id = $(this).data("id");
    let part = $(this).text();
    edit_part(id, part);
  });


    
  });
  //$('#model').keyup(function() {
  //    console.log('hj,bn')
  //    edit_data(id, model, "model");
  //  });

</script>


</body>