<h1>ПКИ</h1>
<button class="btn btn-dark" style="margin-bottom: 1rem" onclick="location.href='/add';">Добавить ПКИ</button>

<form name="search_form" action="/pkis" method="post">
  <div class="form-row align-items-center">
    <div class="col-auto">      
      <div class="input-group mb-2">
        <input type="text" name="search" class="form-control hoverable" id="search" placeholder="Поиск...">
      </div>
    </div>
  </div>
</form>

{{#if pkis.length}}

<table class="table table-sm table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
        <th>Тип</th>
        <th>Производитель</th>
        <th>Модель</th>
        <th>Серийный номер</th>
        <th>Страна производства</th>
        <th>Партия</th>
        <th>Номер машины</th>
        <th>В СБ</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
{{#each pkis}}
  <tr>
    <td>{{type_pki}}</td>
    <td>{{vendor}}</td>
    <td>{{model}}</td>
    <td>{{serial_number}}</td>
    <td>{{country}}</td>
    <td>{{part}}</td>
    <td>{{number_machine}}</td>
    <td>{{in_case}}</td>
    <td class="td_btn">
        <button class="btn_f" onclick="location.href='/pkis/{{id}}/edit?allow=true';"><i class="fa fa-pencil"></i></button>
        <button class="btn_d" onclick="location.href='/pkis/{{id}}/del?allow=true';"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
{{/each}}
</tbody>
</table>

{{else}}
<p>Нет ни одного ПКИ</p>
{{/if}}
<div id="showData"></div>

<input hidden="true" id="temp" value="0"></input>

{{!-- <script> 
        document.getElementById("search").addEventListener("keyup", function (e) {
             e.preventDefault();
            // получаем данные формы
            let search_form = document.forms["search_form"];
            let search = search_form.elements["search"].value;

            // сериализуем данные в json
            let searchJSON = JSON.stringify({search: search});
            let request = new XMLHttpRequest();
            // посылаем запрос на адрес "/pkis/user"
             request.open("POST", "/pkis/user", true);   
             request.setRequestHeader("Content-Type", "application/json");
             request.addEventListener("load", function () {
                // получаем и парсим ответ сервера                 
                 console.log(request.response);   // смотрим ответ сервера
             });
             request.send(searchJSON);

         });
  
</script> --}}

<script>
  function load_data(q) {
  $.ajax({
    url: "/pkis/user",
    method: "POST",
    data: {
      q: q
    },
    success: function(data) {
      
      //$('#quote').html(data);
      CreateTableFromJSON(JSON.parse(data));
      console.log(data.length);
    }
  });
};

function CreateTableFromJSON(data) {

  

        // EXTRACT VALUE FOR HTML HEADER. 
        // ('Book ID', 'Book Name', 'Category' and 'Price')
        var col = ["_id", "type_pki",	"vendor",	"model",	"__v",	"serial_number",	"part",	"in_case",	"country",	"created"];


        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < data.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = data[i][col[j]];
            }
        }

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }

$(document).ready(function() {
  load_data();

  var timeoutID = null;

  $('#search').keyup(function() {
    
    $('#temp').val('0');
    clearTimeout(timeoutID);
    var search = $(this).val();
    console.log(search)
    if (search != '') {
      load_data(search);
    } else {
      load_data();
    }
  });
});
</script>


</body>