<script src="/sp.js"></script>
<div class="container">


  <div class="wrapper mt-2">
    <div id="formContentSP">
      <!-- Tabs Titles -->
      <div>{{pki.type_pki}} {{pki.vendor}} {{pki.model}} № {{pki.serial_number}}</div>
      <div>Страна производитель: {{pki.country}}, тема: {{pki.part}}</div>
      <hr>
      <div class="input-group input-group-sm mb-1 padd_l_r">
        <div class="input-group-prepend">
          <span class="input-group-text" id="ean_span">Штрих-код</span>
        </div>
        <input value="{{pki.ean_code}}" id="ean_code" type="text" class="form-control" aria-label="Default"
          aria-describedby="ean_span">
      </div>
      <div class="input-group input-group-sm mb-1 padd_l_r">
        <div class="input-group-prepend">
          <span class="input-group-text" id="ean_span">СЗЗ Тип 1</span>
        </div>
        <input value="{{pki.szz1}}" placeholder="СЗЗ Тип 1" id="szz1" type="text" class="form-control"
          aria-label="Default" aria-describedby="ean_span">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="viborka">
        <label class="form-check-label" for="viborka">Выборка</label>
      </div>
      <form id="edit" action="/sp">
        <input hidden="true" id="id" name="id" type="text" class="form-control" value="{{pki._id}}">
        <div id="pki_sp_table"></div>

        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="id" id="pki_id" value="{{pki._id}}">
        <div class="mt-5">
          <button type="button" onclick="subSpPki()" class="btn btn-outline-success">Сохранить</button>
          <input type="button" value="Назад" class="btn btn-outline-primary" onclick="window.location='/sp';">
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    let decodedPki = decodeURIComponent("{{{encodedPki}}}")
    let jsonObj = JSON.parse(decodedPki)
    let viborka = jsonObj.viborka
    if (viborka == 'true') {
      document.getElementById('viborka').checked = true
    }
    let pki_id = jsonObj._id
    load_table_sp(pki_id)

    let viborkaCheckBox = document.getElementById('viborka')
    viborkaCheckBox.addEventListener('click', function () {
      if (viborkaCheckBox.checked) {
        load_table_viborka(pki_id, true)
      } else {
        load_table_viborka(pki_id, false)
      }
    })

    let eanInput = document.querySelector('#ean_code')
    eanInput.addEventListener('keyup', function (event) {
      if (event.keyCode == 13) {
        event.preventDefault()
        let ean = event.target.value
        let pki_id = document.getElementById('pki_id').value
        let viborka = (document.getElementById('viborka').checked) ? true : false
        event.preventDefault()
        console.log('asdasdasd', ean, pki_id)
        let data = {
          ean: ean,
          viborka: viborka,
          pki_id: pki_id
        }
        postData('/sp/check_ean', data)
          .then((data) => {
            console.log(data)
            if (data.message != 'ok') {
              CreateTable_EAN(data)
            } else {
              CreateTableSP()
            }
          })
      }
    })


  })
</script>