<script src="/sp.js"></script>
<h1>Редактировать {{pki.vendor}} {{pki.model}}</h1>

<div class="wrapper fadeInDown">
  <div id="formContentSP">
    <!-- Tabs Titles -->
<form id="edit" action="/sp">
   
      <div>{{pki.type_pki}} {{pki.vendor}} {{pki.model}} № {{pki.serial_number}}</div>
      <div>Страна производитель: {{pki.country}}, тема: {{pki.part}}</div>
      <hr>


      <input hidden="true" id="id" name="id" type="text" class="form-control" value="{{pki.id}}" required>

      <div class="input-group input-group-sm mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="ean_span">Штрих-код</span>
        </div>
        <input value="{{pki.ean_code}}" id="ean_code" type="text" class="form-control" aria-label="Default"
          aria-describedby="ean_span">
      </div>
      <div class="input-group input-group-sm mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="ean_span">СЗЗ Тип 1</span>
        </div>
        <input value="{{pki.szz1}}" placeholder="СЗЗ Тип 1" id="szz1" type="text" class="form-control" aria-label="Default"
          aria-describedby="ean_span">
      </div>

      <div id="pki_sp_table"></div>

      <div class="mb-3" style="text-align: left;">
        <input type="button" id="add-row" class="add-row btn btn-outline-primary" value="Добавить строку">
        <input type="button" id="delete-row" class="delete-row btn btn-outline-danger" value="Удалить строку">
      </div>
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <div class="mt-5">
        <button type="submit" class="btn btn-outline-success">Редактировать ПКИ</button>
        <input type="button" value="Назад" class="btn btn-outline-primary" onclick="window.location='/sp';">
      </div>
 </form>
  </div>
</div>


<script>
  $(document).ready(function () {
    let pki_id = `{{pki.id}}`
    CreateTableSP(pki_id)
  }) 
</script>