<script src="/sp.js"></script>
<h1>Редактировать {{pki.vendor}} {{pki.model}}</h1>

<div class="wrapper">
  <div id="formContentSP">
    <!-- Tabs Titles -->
    <div>{{pki.type_pki}} {{pki.vendor}} {{pki.model}} № {{pki.serial_number}}</div>
    <div>Страна производитель: {{pki.country}}, тема: {{pki.part}}</div>
    <hr>
    <div class="input-group input-group-sm mb-1 padd_l_r">
      <div class="input-group-prepend">
        <span class="input-group-text" id="ean_span">Штрих-код</span>
      </div>
      <input value="{{pki.ean_code}}" id="ean_code" type="text" class="form-control" aria-label="Default"
        aria-describedby="ean_span">
    </div>
    <div class="input-group input-group-sm mb-1 padd_l_r">
      <div class="input-group-prepend">
        <span class="input-group-text" id="ean_span">СЗЗ Тип 1</span>
      </div>
      <input value="{{pki.szz1}}" placeholder="СЗЗ Тип 1" id="szz1" type="text" class="form-control"
        aria-label="Default" aria-describedby="ean_span">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="viborka">
      <label class="form-check-label" for="viborka">Выборка</label>
    </div>
    <form id="edit" action="/sp">
      <input hidden="true" id="id" name="id" type="text" class="form-control" value="{{pki.id}}" required>
      <div id="pki_sp_table"></div>
    
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="hidden" id="pki_id" value="{{pki._id}}">
      <div class="mt-5">
        <button type="submit" class="btn btn-outline-success">Сохранить</button>
        <input type="button" value="Назад" class="btn btn-outline-primary" onclick="window.location='/sp';">
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {    
    let decodedPki = decodeURIComponent("{{{encodedPki}}}")
    let jsonObj = JSON.parse(decodedPki)
    let viborka = jsonObj.viborka    
    if (viborka == 'true'){
      $('#viborka').prop('checked', true)      
    }
    let pki_id = jsonObj._id
    load_table_sp(pki_id)
    $('#viborka').click(function(){      
      if ($(this).is(':checked')){
        load_table_viborka(pki_id, true)
      } else {
        load_table_viborka(pki_id, false)
      }
    })
  })

  $(document).on('keypress', '.serial_number', function (e) {
    let id = $(this).data("data")    
    if (e.which == 13) {      
      e.preventDefault()
      //переход на одну ячейку вниз
      next_id = Number(id) + 1
      nextCellText = $(".serial_number[data-data='" + next_id + "']").text()
      while (nextCellText == 'б/н' || nextCellText == 'Б/Н' || nextCellText == 'Б/н') {
        next_id += 1
        nextCellText = $(".serial_number[data-data='" + next_id + "']").text()           
      }
      $(".serial_number[data-data='" + next_id + "']").focus() 
    }
  })
</script>